:root {
  --primary-color: #ffffff;
  --secondary-color: #141414;
  --tertiary-color: #1b1b1b;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --highlight-text-color: #36d5f9;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--tertiary-color);
}

/* Header styles */
header {
  background-color: var(--secondary-color);
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: var(--highlight-text-color);
  font-weight: bold;
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--secondary-text-color);
  font-weight: bolder;
  text-decoration: none;
}

/* Main styles */
main {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5rem;
  padding-right: 5rem;
  color: var(--secondary-text-color)
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

/* Footer styles */
footer {
  background-color: var(--secondary-color);
  max-height: 100%;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Projects section styles */
#projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  display: block;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  padding: 20px;
  border-radius: 7px;
}

.project-card h3 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--highlight-text-color);

  
}

/* Add your own custom styles below this line */

/* Custom styles for the project form */
#project-form {
  margin-top: 20px;
}

#project-form h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

#project-form label {
  display: block;
  margin-bottom: 5px;
}

#project-form input, textarea {
  width: 100%;
  padding: 5px;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  border-style: none;
  border-radius: 7px;
  
}

#project-form button {
  background-color: var(--highlight-text-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#project-form button:hover {
  background-color: #555;
}
